*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Navbar{
    width:200px;
    height: 50px;
    border-radius: 35%;
}
.navbar ul li:hover{
    /* border-bottom: 2px solid white; */
    scale: 1.05;
    box-shadow:5px 5px 10px rgb(141, 98, 98);

   
}
.backImage{
    /* background-color: rgba(8, 8, 8, 0.692); */
    background-image: url(https://png.pngtree.com/background/20230413/original/pngtree-business-e-shopping-picture-image_2422998.jpg);
}
/* .ride{
    margin: auto;
    margin-top: 70px;
   height: 100vh;
   width: 100w;
} */
 .image{
    height: 500px;
 }
 .profile{
    z-index: 1;
     width: 1500px;
    position: absolute;
    left: -133px;
    top:2px;
    display: none;
 }
 .card:hover{
    scale: 0.95;
    box-shadow:5px 5px 10px rgb(141, 98, 98);
 }
 

 @media only screen and (max-width:350px){
    .navImage{
        display: none !important;
    }
    .navLogo{
        width: 100px !important;
        height: 100% !important;
    }
    .logo{
        width: 100px !important;
        height: 100% !important;
    }
   
    
 }
 @media only screen and (max-width:600px){
    .details {
        text-align: center;
    }
    td.py-5.ban {
        font-size: 12px;
    }
 }